.main-top {
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  height: 8vh;

  .left-controls {
    align-items: center;
    gap: 0.5em;

    .sidebar-control-button {
      &.flip {
        transform: rotate(180deg);
      }
    }
  }

  .right-controls {
    gap: 0.5em;
    align-items: center;

    .theme-button {
      transform: scale(1.2);
      align-items: center;
      cursor: pointer;
      margin-right: 0.5rem;
      padding: 4px;
      border-radius: var(--nextui-radii-xs);

      &:hover {
        background-color: var(--nextui-colors-selection);
      }
    }
  }
}
