.quick-links-section {
  flex-direction: row;
  flex-wrap: wrap;
  width: 50ch;
  gap: 1ch;

  .quick-link-item {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;
    color: inherit;
    text-decoration: inherit;
    justify-items: center;
    gap: 10px;
    border-radius: var(--nextui-radii-md);
    width: 9ch;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: var(--nextui-zIndices-1);

    &:hover {
      transform: scale(1.05);
    }

    &.being-dragged {
      background-color: var(--nextui-colors-background);
      z-index: var(--nextui-zIndices-max);
      box-shadow: var(--nextui-shadows-lg);
    }

    .icon {
      width: 40px;
      border-radius: 50%;
    }

    .plus-icon {
      transform: scale(2.5);
    }

    .name {
      white-space: nowrap;
    }
  }
}

.dark-theme {
  .quick-links-section {
    .quick-link-item {

      &.being-dragged {
        border: 1px dashed var(--nextui-colors-text);
        background-color: var(--nextui-colors-background);
      }
    }
  }
}
