.sidebar {
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid rgba($color: black, $alpha: 0.2);
  margin-left: -25%;
  width: 25%;
  transition: all 0.25s;
  overflow: hidden;
  position: relative;

  &.active {
    margin-left: 0;
  }

  &-top {
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid gray;
    height: 8vh;
  }

  .sidebar-notes-list {
    max-height: 92vh;
    overflow-y: auto;

    .sidebar-note {
      padding: 8px;
      cursor: pointer;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
      transition: border 0.2s ease-in-out;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.05);
        transition: border 0.2s ease-in-out;
      }

      &.active {
        transition: border 0.2s ease-in-out;
        border-left: 6px solid black;
        background: rgba($color: #000000, $alpha: 0.05);
      }

      .title-and-action-center {
        justify-content: space-between;

        .title-editor-input {
          background: none;
          border: none;
          outline: none;
          padding: none;

          font-size: 1.2em;
        }
      }
    }

    .bin-top-section {
      width: 90%;
    }

    .bin-section {
      .sidebar-note:first-of-type {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
      }
    }
  }

  .bin-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--nextui-colors-background);
    padding: 1em;
    z-index: var(--nextui-zIndices-2);
    box-shadow: var(--nextui-shadows-md);
    border-top-left-radius: var(--nextui-radii-md);
  }
}

.dark-theme {
  .sidebar {
    border-right: 1px solid gray;

    .sidebar-notes-list {
      .sidebar-note {
        border-bottom: 1px solid gray;

        &.active {
          border-left: 6px solid gray;
          background: rgba($color: gray, $alpha: 0.25);
        }
      }

      .bin-section {
        .sidebar-note:first-of-type {
          border-top: 1px solid gray;
        }
      }
    }
  }
}

.undo-notification-container {
  align-items: center;
  gap: 1em;
}
