.sidebar {
  height: 100vh;
  box-sizing: border-box;
  margin-left: -25%;
  width: 25%;
  transition: all 0.25s;
  overflow: hidden;
  position: relative;
  border-top-right-radius: var(--nextui-radii-md);
  border-bottom-right-radius: var(--nextui-radii-md);

  &.active {
    margin-left: 0;
    box-shadow: var(--nextui-shadows-md);
  }

  &-top {
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 8vh;
  }

  .sidebar-notes-list {
    max-height: 92vh;
    overflow-y: auto;

    .bin-top-section {
      border-bottom: 1px solid var(--nextui-colors-text);
    }
  }

  .bin-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--nextui-colors-background);
    padding: 1em;
    z-index: var(--nextui-zIndices-2);
    box-shadow: var(--nextui-shadows-md);
    border-top-left-radius: var(--nextui-radii-md);
  }
}

.dark-theme {
  .sidebar {
    border-right: 1px solid gray;
  }
}

.undo-notification-container {
  align-items: center;
  gap: 1em;
}
