.placenoter {
  width: 100%;
  display: flex;
  flex-direction: row;

  .note-content {
    width: 75%;
    transition: all 0.3s;

    &.full {
      width: 100%;
    }

    .editor-area {
      max-height: 90vh;
      overflow-y: auto;
    }

    .no-note-selected {
      height: 90vh;
      flex-direction: column;

      .logo {
        width: 300px !important;
      }
    }
  }
}
