.placenoter {
  width: 100%;
  display: flex;
  flex-direction: row;

  .note-content {
    width: 75%;
    transition: all 0.3s;

    &.full {
      width: 100%;
    }

    .editor-content {
      border-radius: var(--nextui-radii-md);
    }

    .no-note-selected {
      height: 90vh;
      flex-direction: column;

      .logo {
        width: 300px !important;
      }
    }
  }
}

.dark-theme {
  .editor-content {
    background: rgba(white, 0.1);
  }
}
