.sidebar-note {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--nextui-radii-md);
  margin: 8px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: none;
    background-color: var(--nextui-colors-primaryLight);

    .control-buttons {
      max-width: 50px !important;
      margin-right: 2px;
    }

    .right-control-buttons {
      display: flex;
    }
  }

  &.active {
    transition: all 0.2s ease-in-out;
    background-color: var(--nextui-colors-primaryLightHover);
  }

  .title-and-action-center {
    justify-content: space-between;
    flex-direction: column;

    .title-editor-container {
      .title-editor-input {
        background: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: 1.1em;
        border: none;
        border-bottom: 1px dashed var(--nextui-colors-text);

        &:disabled {
          border: none;
          cursor: pointer;
        }

        &::selection {
          background-color: var(--nextui-colors-purple400);
        }
      }

      .control-buttons {
        transform: translateY(6px);
        overflow: hidden;
        display: inline-flex;
        transition: all 0.2s ease-in-out;
        max-width: 0;
      }
    }
  }

  .right-control-buttons {
    display: none;
  }
}
