.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-8px {
  gap: 8px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
