.placenoter {
  width: 100%;
  display: flex;
  flex-direction: row;

  .note-content {
    width: 75%;
    transition: all 0.25s;

    &.full {
      width: 100%;
    }

    .editor-content {
      border-radius: var(--nextui-radii-md);
    }

    .no-note-selected {
      padding: 2rem;
      align-items: center;
      gap: 1rem;

      .logo {
        width: 125px !important;
        margin: 1em 0 3rem 0;
      }
    }
  }
}

.dark-theme {
  .editor-content {
    background: rgba(white, 0.1);
  }
}
