.menubar {
  gap: 4px;
  margin: 8px 0;
  align-items: center;

  .menubar-button {
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:active:focus {
      box-shadow: none;
    }

    &.active {
      background: var(--nextui-colors-blue500);

      svg {
        fill: white;
      }
    }
  }

  .divider {
    height: 1.5em;
    width: 2px;
    background: rgba($color: black, $alpha: 0.2);
    margin: 0 4px;
  }
}
