.word-and-character-count-section {
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 4px;
  padding: 4px;
  background: white;
  box-shadow: 0 0 10px rgba($color: black, $alpha: 0.2);
  border-radius: 6px;
}

.dark-theme {
  .word-and-character-count-section {
    background: var(--nextui-colors-black);
    box-shadow: 0 0 10px 4px rgba($color: white, $alpha: 0.25);
  }
}

.editor-content {
  margin-top: 1em;
}

/* Basic editor styles */
.ProseMirror {
  outline: none !important;

  > * + * {
    margin-top: 0.75em;
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: auto;
  }

  ul {
    list-style-type: disc;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        margin: 1px 0.5rem 0 0;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
    letter-spacing: normal;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  .search-result {
    background: rgba(255, 217, 0, 0.75);
  }
}

.dark-theme {
  .ProseMirror {
    .search-result {
      background: rgba(255, 217, 0, 0.6);
    }
  }
}
