.main-top {
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 8vh;

  .left-controls {
    align-items: center;
    gap: 0.5em;

    .sidebar-control-button {
      &.flip {
        transform: rotate(180deg);
      }
    }
  }

  .right-controls {
    gap: 1em;
  }
}
