.sidebar {
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid rgba($color: black, $alpha: 0.20);
  margin-left: -25%;
  width: 25%;
  transition: all 0.3s;

  &.active {
    margin-left: 0;
  }

  &-top {
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}