.sidebar {
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid rgba($color: black, $alpha: 0.20);
  margin-left: -25%;
  width: 25%;
  transition: all 0.3s;

  &.active {
    margin-left: 0;
  }

  &-top {
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid gray;
    height: 8vh;
  }

  .sidebar-note {
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.15);
    transition: border 0.2s ease-in-out;

    &:hover {
      background: rgba($color: #000000, $alpha: 0.05);
      transition: border 0.2s ease-in-out;
    }

    &.active {
      transition: border 0.2s ease-in-out;
      border-left: 6px solid black;
      background: rgba($color: #000000, $alpha: 0.05);
    }

    .title-and-action-center {
      justify-content: space-between;

      .title-editor-input {
        background: none;
        border: none;
        outline: none;
        padding: none;

        font-size: 1.2em;
      }
    }
  }

}